.block {
    display: grid;
    grid-template-areas: 'ava name' 'ava location';
    align-items: center;
    gap: 8px;
}

.img {
    position: relative;
    width: 106px;
    height: 106px;
    grid-area: ava;
}

.img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%,-50%);
    border-radius: 50%;
    border: 4px solid #FF9900;
}

.img svg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.name {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    grid-area: name;
    align-self: end;
}

.location {
    grid-area: location;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255,255,255, 70%);
    align-self: start;
}