.header {
    background: linear-gradient(135deg, #FFCA41 0%, #FF9900 100%);
    grid-area: header;
    display: flex;
    align-items: center;
    padding: 18px;
    position: sticky;
    top: 0;
    right: 0;
    z-index: 2;
}

.left {
    display: flex;
    align-items: center;
}

.right {
    display: grid;
    grid-template-columns: 1fr 120px;
    align-items: center;
    gap: 24px;
    margin-left: auto;
}