.item {
    margin-bottom: 48px;
    display: grid;
    grid-template-areas: 'ava name' 'message message';
    grid-template-columns: 42px 1fr;
    column-gap: 8px;
    row-gap: 24px;
}

.item:last-child {
    margin-bottom: 0;
}

.image {
    border-radius: 50%;
    width: 41px;
    height: 41px;
    overflow: hidden;
    grid-area: ava;
}

.name {
    align-self: center;
    grid-area: name;
    font-size: 18px;
    font-weight: 500;
}

.message {
    grid-area: message;
}