.form {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    grid-template-columns: 11fr 1fr;
    gap: 24px;
}

.textarea {
    resize: none;
    min-height: 40px;
    border: none;
    padding: 20px;
    font-size: 16px;
}

.submit {
    padding: 0;
    display: block;
    background: none;
    border: none;
}